.image {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.companyName{
    padding-top: 20px;
}

.leftDiv{
    float: left;
    margin-right: 40px;
    width: 250px;
    text-align: center;
    border-right: 1px solid black;
}

.infoDiv{
    padding-top: 20px;
}

.infoText{
    font-size: 20px;
    margin: 10px;
}

.infoText2{
    font-size: 20px;
    margin: 50px 0 10px 0;
}

.mainDiv{
    border: 1px solid black;
    width: 914px;
    border-radius: 5px;
    background-color: #c4c4c4;
    color: #4E4E4E;
    font-size: 30px;
    outline: none;
    font-family: Asul, serif;
    font-weight: bold;
    margin: auto;
    display: flex;
}

.button{
    width: 202px;
    height: 59px;
    background-color: #4E4E4E;
    color: #6c6c6c;
    border-radius: 5px;
    font-size: 30px;
}

.hr{
    width: 1px;
    size: 500px;
}