.time{
    min-width: 894px;
    min-height: 67px;
    max-width: 894px;
    max-height: 67px;
    margin: 0;
    background-color: #c4c4c4;
    font-size: 25px;
    outline: none;
    font-family: Asul, serif;
    color: black;
    display:table-cell!important;
    vertical-align:middle;
    border-radius: 5px;
    padding-left: 20px;
}

.timeDiv{
    min-width: 914px;
    min-height: 67px;
    max-width: 914px;
    max-height: 67px;
    margin: auto;
    border-radius: 5px;
    display:table;
    padding-top: 30px;
}