.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    padding: 50px 25px 25px;
    background: #4E4E4E;
    border-radius: 5px;
    min-width: 459px;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}